# Array

## store multivalued columns with array

In [ ]:
drop table if exists applicant;

create table applicant(
    id int PRIMARY key,
    name varchar(50) not null,
    skills varchar(50)[] -- array of skills
);

insert into applicant(id, name, skills) values (1, 'Peter', '{C,Java,SQL}');

insert into applicant(id, name, skills) values 
    (2, 'Mike', '{"C","Java","SQL"}'),
    (3, 'Ann', '{Word,Excel 2016,PowerPoint}'),
    (4, 'Jane', '{"One, Two, Three","Word"}'),
    (5, 'Sharon', '{Python,SQL,C,C++,C#,Java}'),
    (6, 'John', '{MySQL,SQLite,C}');

In [ ]:
select * from applicant;

In [ ]:
select name, skills, array_length(skills, 1) from applicant;

In [ ]:

select name, skills, skills[4] from applicant;

# normalized tables

In [ ]:
drop table if exists appln_info;
create table appln_info(
    id int PRIMARY key,
    name varchar(50) not null 
);

create table appln_skills(
    id int,
    skills varchar(50)
);

insert into appln_info(id, name) values(1, 'Peter');
insert into appln_skills(id, skills) values(1, 'C'), (1, 'Java'), (1, 'SQL');
select * from appln_skills;

insert into appln_info(id, name) values(6, 'John');
insert into appln_skills(id, skills) values(6, 'MySQL'), (6, 'SQLite'), (6, 'C');
select * from appln_skills;

In [ ]:
select id, unnest(skills) skill from applicant;