# Database: `yummi_plain`

In [1]:
select * from menu limit 3;

menuid,descr,descrth,sizeid,categoryid,isrecommended,isdiscontinued,price,cost,margin,username,firstintrodt,discontinueddt
201L6,Tom Yum Kung (Large),ต้มยำกุ้ง (ใหญ่),L,DI,False,False,200,80,120.0,dbo,2002-01-01T00:00:00,NULL
201M7,Tom Yum Kung (Medium),ต้มยำกุ้ง (กลาง),M,DI,True,False,100,40,60.0,dbo,2002-01-01T00:00:00,NULL
201S3,Tom Yum Kung (Small),ต้มยำกุ้ง (เล็ก),S,DI,False,False,20,8,12.0,dbo,2002-01-01T00:00:00,NULL

In [7]:
select age('2000-02-01'::date), '2021-09-01'::date-'2000-02-01';

age,Column2
"7875 days, 0:00:00",7883

In [1]:
select * from menu where descr ilike '%chicken%'

menuid,descr,descrth,sizeid,categoryid,isrecommended,isdiscontinued,price,cost,margin,username,firstintrodt,discontinueddt
202M9,Green Curry with Chicken,แกงเขียวหวานไก่,M,DI,True,False,60,24,36.0,dbo,2002-01-01T00:00:00,NULL
205M5,Fried Chicken,ไก่ทอด,M,DI,False,False,70,28,42.0,dbo,2002-01-01T00:00:00,NULL

In [4]:
select * from orderhdr limit 5;

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
1,PH1,4,5,2002-01-01T10:51:00,2002-01-01T12:00:00,EI,CASH,1300.00,187.50,1112.50,72.78,False,dbo
2,ZF1,1,3,2002-01-01T11:35:00,2002-01-01T12:42:00,EI,CASH,675.00,0.00,675.00,44.16,False,dbo
3,ZF1,2,1,2002-01-01T12:14:00,2002-01-01T14:33:00,EI,CHK,520.00,0.00,520.00,34.02,False,dbo
4,ZF1,3,5,2002-01-01T18:59:00,2002-01-01T19:58:00,EI,MC,490.00,19.50,470.50,30.78,False,dbo
5,ZF1,1,5,2002-01-02T11:58:00,2002-01-02T13:32:00,EI,CASH,480.00,0.00,480.00,31.40,False,dbo

In [7]:
select sum(total), avg(total), min(total), max(total), count(total), sum(total)/count(total) from orderhdr

sum,avg,min,max,count,Column6
2835540.00,567.1080000000000000,10.00,3035.00,5000,567.1080000000000000

In [12]:
select orderid, intime, outtime, outtime-intime from orderhdr limit 5;

orderid,intime,outtime,Column4
1,2002-01-01T10:51:00,2002-01-01T12:00:00,1:09:00
2,2002-01-01T11:35:00,2002-01-01T12:42:00,1:07:00
3,2002-01-01T12:14:00,2002-01-01T14:33:00,2:19:00
4,2002-01-01T18:59:00,2002-01-01T19:58:00,0:59:00
5,2002-01-02T11:58:00,2002-01-02T13:32:00,1:34:00

In [14]:
select orderid, intime, outtime, avg(outtime-intime) from orderhdr limit 5;

: column "orderhdr.orderid" must appear in the GROUP BY clause or be used in an aggregate function

In [13]:
select avg(outtime-intime) from orderhdr;

avg
1:23:27.552000

In [27]:
select age('2016-08-24'::date) -- casting 'date-string'::date

age
"1826 days, 0:00:00"

In [28]:
select '2021-08-25'::date - '2016-08-24'::date

Column1
1827

In [24]:
select '2021-08-25 11:00'::timestamp - '1995-08-24 09:00'::timestamp

Column1
"9498 days, 2:00:00"

In [19]:
SELECT * FROM orderhdr  order by  orderid desc limit 5

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
5000,ZM1,1,0,2004-01-03T19:46:00,2004-01-03T20:16:00,TG,CHK,940.00,0.00,940.00,61.50,False,dbo
4999,ZM1,2,7,2004-01-03T12:07:00,2004-01-03T13:36:00,EI,MC,130.00,4.00,126.00,8.24,False,dbo
4998,ZF1,5,7,2004-01-03T12:07:00,2004-01-03T14:25:00,EI,CASH,1165.00,152.25,1012.75,66.25,False,dbo
4997,PJ1,2,5,2004-01-02T19:57:00,2004-01-02T20:27:00,EI,CHK,410.00,0.00,410.00,26.82,False,dbo
4996,ZM1,2,5,2003-12-31T19:59:00,2003-12-31T20:55:00,EI,MC,920.00,43.50,876.50,57.34,False,dbo

In [29]:
SELECT avg(total)/count(total) from orderhdr

Column1
0.11342160000000000000

In [30]:
select sum(total)/sum(noguest) from orderhdr

Column1
204.0103604575868768

In [37]:
select noguest, count(noguest)
    from orderhdr
    GROUP BY noguest -- dimension
    order by noguest

noguest,count
1,996
2,1148
3,1492
4,897
5,302
6,141
7,17
8,1
10,6

In [38]:
select avg(noguest) from orderhdr -- measure

avg
2.7798000000000000

In [34]:
SELECT paymentid, sum(total) 
    from orderhdr 
    GROUP BY paymentid
    order by sum(total) desc

paymentid,sum
CASH,1399905.00
MC,727620.00
CHK,314135.00
VISA,267705.00
AMEX,126175.00

In [35]:
select * from 
    (select orderid, intime, outtime, outtime-intime 
        from orderhdr 
        order by orderid desc limit 5) 
    lastNrows_subquery order by orderid

orderid,intime,outtime,Column4
4996,2003-12-31T19:59:00,2003-12-31T20:55:00,0:56:00
4997,2004-01-02T19:57:00,2004-01-02T20:27:00,0:30:00
4998,2004-01-03T12:07:00,2004-01-03T14:25:00,2:18:00
4999,2004-01-03T12:07:00,2004-01-03T13:36:00,1:29:00
5000,2004-01-03T19:46:00,2004-01-03T20:16:00,0:30:00

In [49]:
SELECT extract(year from intime)::int, sum(total) total -- alias
    FROM orderhdr
    GROUP BY extract(year from intime)
    ORDER BY extract(year from intime) DESC

date_part,total
2004,2645.00
2003,1313540.00
2002,1519355.00

In [50]:
SELECT date_part('year', intime)::int "year", sum(total)
    from orderhdr
    GROUP BY date_part('year',intime)

year,sum
2002,1519355.00
2003,1313540.00
2004,2645.00

In [70]:
SELECT date_part('year', intime)::int "year", 
    date_part('week', intime)::int "week", 
    sum(total)
    from orderhdr
    -- where date_part('year', intime) = 2002 and date_part('week', intime)>2
    -- where date_part('year', intime) != 2002
    GROUP BY date_part('year', intime)::int, date_part('week',intime)::int
    having sum(total) > 400000
    order by date_part('year',intime)::int, date_part('week',intime)::int

year,quarter,sum
2002,2,441655.00

In [80]:
select * from menu 
    where descr ilike '%chicken%' -- contains % any character [0,] i = case insensitive
    -- where descrth like '%ไก่%' -- contains % any character [0,]

menuid,descr,descrth,sizeid,categoryid,isrecommended,isdiscontinued,price,cost,margin,username,firstintrodt,discontinueddt
202M9,Green Curry with Chicken,แกงเขียวหวานไก่,M,DI,True,False,60,24,36.0,dbo,2002-01-01T00:00:00,NULL
205M5,Fried Chicken,ไก่ทอด,M,DI,False,False,70,28,42.0,dbo,2002-01-01T00:00:00,NULL

In [2]:
select * from orderhdr
    where noguest = 2 and total between 1000 and 1200

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
213,PH1,2,5,2002-01-31T18:57:00,2002-01-31T19:31:00,EI,AMEX,1020.00,0.00,1020.00,66.73,False,dbo
406,ZF1,2,4,2002-02-27T18:44:00,2002-02-27T20:48:00,EI,MC,1010.00,45.50,964.50,63.10,False,dbo
430,ZF1,2,5,2002-03-01T19:55:00,2002-03-01T22:03:00,EI,CASH,1090.00,0.00,1090.00,71.31,False,dbo
434,ZF1,2,5,2002-03-02T11:52:00,2002-03-02T14:03:00,EI,CASH,1010.00,0.00,1010.00,66.07,False,dbo
922,PJ1,2,3,2002-05-12T19:35:00,2002-05-12T21:11:00,EI,VISA,1040.00,0.00,1040.00,68.04,False,dbo
3163,ZF1,2,1,2003-03-29T20:18:00,2003-03-29T21:43:00,EI,VISA,1000.00,0.00,1000.00,65.42,False,dbo
3132,PJ1,2,1,2003-03-26T12:14:00,2003-03-26T13:25:00,EI,CASH,1020.00,0.00,1020.00,66.73,False,dbo
2987,ZF1,2,5,2003-03-02T19:55:00,2003-03-02T20:41:00,EI,CHK,1100.00,0.00,1100.00,71.96,False,dbo
1690,PJ1,2,5,2002-08-30T18:51:00,2002-08-30T20:29:00,EI,CASH,1030.00,0.00,1030.00,67.38,False,dbo
1170,PJ1,2,1,2002-06-16T19:01:00,2002-06-16T19:45:00,EI,CASH,1150.00,0.00,1150.00,75.23,False,dbo
4892,ZM1,2,4,2003-12-15T19:48:00,2003-12-15T20:54:00,EI,AMEX,1050.00,0.00,1050.00,68.69,False,dbo
1433,ZF1,2,2,2002-07-26T19:27:00,2002-07-26T20:36:00,EI,VISA,1035.00,0.00,1035.00,67.71,False,dbo
4991,PJ1,2,4,2003-12-30T11:46:00,2003-12-30T12:31:00,EI,CHK,1030.00,0.00,1030.00,67.38,False,dbo
1564,ZM1,2,7,2002-08-11T20:07:00,2002-08-11T22:03:00,EI,CASH,1050.00,0.00,1050.00,68.69,False,dbo
4233,ZF1,2,2,2003-09-07T20:23:00,2003-09-07T22:18:00,EI,CASH,1050.00,0.00,1050.00,68.69,False,dbo
1618,ZF1,2,3,2002-08-18T19:31:00,2002-08-18T21:55:00,EI,MC,1080.00,49.00,1031.00,67.45,False,dbo
4335,ZM1,2,1,2003-09-22T20:11:00,2003-09-22T21:45:00,EI,MC,1060.00,48.00,1012.00,66.21,False,dbo
4341,ZM1,2,5,2003-09-24T19:54:00,2003-09-24T20:49:00,EI,CASH,1030.00,0.00,1030.00,67.38,False,dbo
1481,RH1,2,5,2002-08-02T19:05:00,2002-08-02T21:14:00,EI,VISA,1020.00,0.00,1020.00,66.73,False,dbo
4159,ZF1,2,5,2003-08-29T18:56:00,2003-08-29T20:31:00,EI,CASH,1050.00,0.00,1050.00,68.69,False,dbo
1592,ZF1,2,5,2002-08-16T19:50:00,2002-08-16T20:53:00,EI,CASH,1075.00,0.00,1075.00,70.33,False,dbo
4261,PJ1,2,5,2003-09-12T11:59:00,2003-09-12T13:33:00,EI,VISA,1020.00,0.00,1020.00,66.73,False,dbo
2510,ZF1,2,2,2002-12-23T12:27:00,2002-12-23T13:19:00,EI,CASH,1115.00,0.00,1115.00,72.94,False,dbo
2789,PJ1,2,1,2003-02-01T20:10:00,2003-02-01T22:24:00,EI,MC,1030.00,46.50,983.50,64.34,False,dbo
2663,ZM1,2,5,2003-01-17T19:51:00,2003-01-17T20:28:00,EI,CASH,1000.00,0.00,1000.00,65.42,False,dbo
4682,PJ1,2,6,2003-11-19T11:06:00,2003-11-19T11:46:00,EI,CASH,1060.00,0.00,1060.00,69.35,False,dbo
3550,ZM1,2,2,2003-05-30T19:22:00,2003-05-30T21:13:00,EI,CASH,1040.00,0.00,1040.00,68.04,False,dbo
3637,ZF1,2,4,2003-06-13T10:45:00,2003-06-13T12:22:00,EI,MC,1000.00,45.00,955.00,62.48,False,dbo
3507,ZF1,2,4,2003-05-24T10:48:00,2003-05-24T12:51:00,EI,CASH,1130.00,0.00,1130.00,73.93,False,dbo

In [90]:
select * from menu
    -- where categoryid = 'AP' or categoryid = 'BE' or categoryid = 'DI'
    where categoryid not in('AP', 'BE', 'DI')

menuid,descr,descrth,sizeid,categoryid,isrecommended,isdiscontinued,price,cost,margin,username,firstintrodt,discontinueddt
401S1,Coconut Ice Cream,ไอศครีมกะทิ,S,DE,False,False,15,5,9.75,dbo,2002-01-01T00:00:00,NULL
402S3,Sticky Rice with Mango,ข้าวเหนียวมะม่วง,S,DE,False,False,40,14,26.0,dbo,2002-01-01T00:00:00,NULL
901S1,Lunch Set,ชุดอาหารเที่ยง,S,SE,False,False,100,31,68.75,dbo,2002-01-01T00:00:00,NULL
902L6,Dinner Set,ชุดอาหารเย็น,L,SE,False,False,400,107,293.0,dbo,2002-01-01T00:00:00,NULL

In [11]:
select distinct categoryid, sizeid from menu order by categoryid

categoryid,sizeid
AP,S
BE,M
BE,S
DE,S
DI,L
DI,M
DI,S
SE,L
SE,S

In [12]:
select categoryid from menu group by categoryid

categoryid
DI
DE
AP
BE
SE

In [13]:
select * from customer

customerid,fname,lname,gender,address,city,province,countryid,zipcode,tel,firstvisitdt
AC1,Amy,Crawford,F,NULL,NULL,NULL,UK,NULL,(621) 789-0934,2002-01-07T12:07:00
CS1,Colleen,Smith,F,478 Euclid Ave.,Cleveland,OH,US,44123,(216) 712-1234,2002-01-08T19:17:00
PJ1,Pete,Johnson,M,2054 Fairview Ave.,Cleveland,OH,US,44106,NULL,2002-01-04T11:55:00
PH1,Paul,Hank,M,NULL,NULL,NULL,UK,NULL,(208) 321-3122,2002-01-01T10:51:00
RH1,Richard,Hank,M,123 West 23rd,Seattle,WA,US,12340,NULL,2002-01-04T18:37:00
RH2,Rick,Holme,M,NULL,NULL,NULL,TH,10110,NULL,2002-01-13T20:10:00
ZF1,Any,Female,F,NULL,NULL,NULL,TH,NULL,(277) 872-8899,2002-01-01T11:35:00
ZM1,Any,Male,M,NULL,NULL,NULL,TH,NULL,(216) 789-2842,2002-01-04T19:22:00

In [22]:
select * from customer where tel is not NULL

customerid,fname,lname,gender,address,city,province,countryid,zipcode,tel,firstvisitdt
AC1,Amy,Crawford,F,NULL,NULL,NULL,UK,NULL,(621) 789-0934,2002-01-07T12:07:00
CS1,Colleen,Smith,F,478 Euclid Ave.,Cleveland,OH,US,44123,(216) 712-1234,2002-01-08T19:17:00
PH1,Paul,Hank,M,NULL,NULL,NULL,UK,NULL,(208) 321-3122,2002-01-01T10:51:00
ZF1,Any,Female,F,NULL,NULL,NULL,TH,NULL,(277) 872-8899,2002-01-01T11:35:00
ZM1,Any,Male,M,NULL,NULL,NULL,TH,NULL,(216) 789-2842,2002-01-04T19:22:00

In [20]:
select null != null, 1 = 1, 1 = 2, 1 < 2, 1=null -- =, <, >, !=, <=, >=

Column1,Column2,Column3,Column4,Column5
NULL,True,False,True,NULL